/* @import url("./uikit.min.css"); */
@import url("./flowbite@1.8.1.min.css");

*{ }

html, body{  }

/* #layout-main{ display: grid; grid-template-columns: 260px 1fr; }

main{ position: relative; height: 100vh; overflow: auto; }

#sidebar-main{ width: 260px; height: 100vh; overflow-y: auto; }

@media screen and (max-width: 768px){
    #layout-main{ grid-template-columns: 1fr; }

    #sidebar-main{ display: none; }
} */