/* @import url("./uikit.min.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900;900&family=Raleway:wght@900&display=swap'); */
@import url("/viewi-app/assets/static/css/flowbite@1.8.1.min.css");

*{ font-size: 14px; }

html, body{ font-family:  'Raleway', sans-serif; scroll-behavior: smooth; }

/* #layout-main{ display: grid; grid-template-columns: 260px 1fr; }

main{ position: relative; height: 100vh; overflow: auto; }

#sidebar-main{ width: 260px; height: 100vh; overflow-y: auto; }

@media screen and (max-width: 768px){
    #layout-main{ grid-template-columns: 1fr; }

    #sidebar-main{ display: none; }
} */