<!DOCTYPE html>
<html lang="en" class="{$themeMode->mode == 'dark' ? 'dark' : 'light'}">

<head>
    <title>$title | Myshop OS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.8, minimum-scale=.8, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/viewi-app/assets/icons/favicon.ico" type="image/x-icon">
    <CssBundle links="{['/viewi-app/assets/static/css/main.css']}" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&family=Raleway:wght@500&display=swap" rel="stylesheet" /> -->
    <script src="/viewi-app/assets/static/js/tailwindcss@3.3.3.js"></script>
</head>

<body>
    <slot></slot>

    <button if="$scrollTop > 500" type="button" class="fixed bottom-[100px] right-5 p-2 border" (click)="scrollToTop()"><i class="lni lni-chevron-up-circle text-[2em]"></i></button>
   
    <ViewiScripts />

    <script src="/viewi-app/assets/static/js/flowbite@1.8.1.min.js"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a","950":"#172554"}
                    }
                },
                fontFamily: {
                    'body': [
                        'Raleway', 
                        'Poppins', 
                    ]
                }
            }
        }
    </script>
</body>

</html>